#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* make it responsive */
.product-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}


.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.product-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.product-item-description {
  font-size: 0.8rem;
  color: #666;
}

.product-item-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.product-item-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  color: #000;
}

.category-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.category-filter-item {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.category-filter-item.active {
  background-color: #000;
  color: #fff;
}

.no-products-found {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.sort-by-filter {
  margin-bottom: 10px;
}

.sort-by-filter-select {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #000;
}